*{
    font-family:Helvetica;
}

h1{
    color:#375e97;
    font-family: Georgia;
    font-size: 2em;
    border-bottom: dotted 5px #375e97;
}

p strong{
    color: #999999
}

h2{
    font-style: italic;
    font-size: 1.5em;
}

ul{
    background-color: #eeeeee;
    border: solid 5px purple;
    padding: 20px 0 20px 30px;
}

a{
    color:#82b8de;
}

a:hover{
    color: #2b99e6;
    text-decoration: none;
}